*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    font-size:14px;
    color:rgba(0,0,0,0.87);
    line-height:24px;
}
a{
    text-decoration: none;
}
.flex{
    display: flex;
}
header{
    position: fixed;
    top: 0;
    background-color: #fff;
    padding: 20px 20px 0;
    height: 95px;
    width: 100%;
    border-bottom: 2px solid lightgray;
}
header div.flex{
    justify-content: space-between;
}
header div.flex .avatar{
    width: 40px;
    margin-left: 20px;
    border-radius: 50%;
    cursor: pointer;
}
header div.flex i{
    font-size: 20px;
    color: #3C4043;
    vertical-align: middle;
    cursor: pointer;
}
header ul{
    list-style: none;
}
header ul li a{
    font-size: 15px;
    font-weight: 500;
    color: #5f6368;
    margin-right: 40px;
    padding-bottom: 9px;
}
header ul li.active a{
    color: #3367d6;
    border-bottom: 4px solid #3367d6;
}
header img{
    vertical-align: middle;
}
header span{
    font-size: 22px;
    color: #3C4043;
}
main{
    padding:30px;
    margin-top:95px;
}
.container{
    max-width:978px;
    margin:0 auto;
}
h2,h3{
    font-weight:500;
    color: #3C4043;
    margin-top:60px;
    margin-bottom:20px;
    line-height:32px;
}
h2{
    font-size:24px;
}
h3{
    font-size:18px;
}
ol{
    
    margin-left:16px;
}
ol li{
    padding-top:12px;
    padding-left:16px;
}
main a{
    color:#3367d6;
}
footer{
    background-color:#f5f5f5;
}
footer .container{
    justify-content: space-between;
    align-items:center;
}
footer .container select{
    width:200px;
}
footer ul{
    list-style:none;
    padding:10px 0;
}
footer ul li:not(:first-child)::before{
    content:"\0000b7";
    padding:0 5px
}
footer ul li a{
   color:rgba(61,61,61,.8);
   font-size:11px;
}